
*{
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}




.container{
    flex : 1;
    display: grid;
    grid-template-columns: repeat(16,1fr);
    width:100vmin;
    height:100vmin;
    border: 2px solid black;
}

.grid{
    border: 1px solid black;
}

.grid:hover{
    background-color: blue;
}

