
*{
    box-sizing: border-box;
    background-color: rgb(246, 246, 246);
}

html, body {
    width: 100%;
    height: 100%;
}


.container{
    display: grid;
    grid-template-columns: repeat(16,1fr);

    width:100vmin;
    height:100vmin;
    border: 2px solid black;
}

.grid{
    border: 1px solid black;
}

.grid:hover{
    background-color: blue;
}

.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-family: cursive;
}

.box{
    display: flex;
    padding: 10px;
    font-size: large;
    font-family: cursive;
    margin-bottom: 30px;
    border: 3px solid black;
    gap: 30px;
}

.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
